<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>learn2code Home Page</title>
</head>
<body>
<h2> learn2code Home Page</h2>
<hr>
<p>Welcome to learn2code institute home page</p>
<hr>
<!-- Display user name and role -->
<p>
    Username :- <span sec:authentication="principal.username" />
    <br><br>
    Role(s) :- <span sec:authentication="principal.authorities" />
</p>
<hr>

<!-- Add a link to point to /leaders/** ... for the managers -->
<p>
    <a th:href="@{/leaders}">Leadership Meeting</a>
    (Only for Manager Peoples)
</p>
<hr>
<!-- Add a link to point to /systems/** ... for the managers -->
<p>
    <a th:href="@{/systems}">IT Systems Meeting</a>
    (Only for Admin Peoples)
</p>
<hr>

<form action="#" th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
</form>

</body>
</html>